<ion-view view-title="{{article.name}}">
    <ion-content class="padding">
        <button class="button button-balanced" ng-click="update()">Speichere Änderung</button>
        <button class="button button-assertive" ng-click="deleteThisArticle()">Lösche Artikel</button>
        <label class="item item-input">
            <span class="input-label">Artikelname</span>
            <input type="text" placeholder="Artikelname" ng-model="article.name" />
        </label>
        <label class="item item-input">
            <span class="input-label">Händler</span>
            <input type="text" placeholder="Händler" ng-model="article.market" />
        </label>
        
        <label class="item item-input">
                <ion-list>
                    <ion-radio ng-repeat="icon in icons" ng-model="article.icon" ng-value="icon.value">
                        <img ng-src="{{icon.value}}" style="width:80%;height:80%;margin:auto;display:block"/>
                    </ion-radio>
                </ion-list>
                <!--<ion-list>
                    <ion-radio ng-repeat="icon in icons" ng-model="article.icon" ng-value="icon.value">
                        <ion-item class="item item-thumbnail-left">
                            <img src="{{icon.value}}" />
                            {{icon.text}}
                        </ion-item>
                    </ion-radio>
                </ion-list>-->            
        </label>
    </ion-content>
</ion-view>
