<ion-view view-title="{{article.name}}">
    <ion-content class="padding">
        <label class="item item-input">
            <span class="input-label">Artikelname</span>
            <input type="text" placeholder="Artikelname" ng-model="article.name" />
        </label>
        <label class="item item-input">
            <span class="input-label">Händler</span>
            <input type="text" placeholder="Händler" ng-model="article.market" />
        </label>
        <label class="item item-input">
            <span class="input-label">Symbol</span>
            <span>
                <ion-list>
                    <ion-radio ng-repeat="icon in icons" ng-model="article.icon" ng-value="icon.value">
                        <ion-item class="item item-thumbnail-left">
                            <img src="{{icon.value}}" />
                            {{icon.text}}
                        </ion-item>

                    </ion-radio>
                </ion-list>
            </span>
            
        </label>
    </ion-content>
</ion-view>
