<ion-view view-title="Einkaufsliste">
    <ion-nav-buttons side="right">
        <button class="item-center button button-assertive" ng-click="removeAll()">Einkauf getätigt!</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Ziehen zum Refresh" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item item-icon-right" ng-repeat="article in shoppingList | orderBy:'article.market'">
                <div class="item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="article.inBasket" ng-click="changeInBasket(article)"/>
                    </label>
                    <h3 class="menge">{{article.menge}}</h3>
                    <h2>{{article.name}}</h2>
                    <p class="market">{{article.market}}</p>
                    <img class="item-checkbox-img" src="{{article.icon}}"/>
                </div>
                <i class="icon ion-chevron-right"></i>
                <ion-option-button class="button button-balanced ion-plus-circled" ng-click="add(article)">
                </ion-option-button>
                <ion-option-button class="button button-assertive ion-minus-circled" ng-click="remove(article)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
