/* Empty. Add your own CSS if you like */
.left-checkbox.item-checkbox {
  padding-left: 0px;
}

.left-checkbox.item-checkbox .checkbox {
  right: auto;
}

.item-checkbox h2 {
    font-weight: bold;
    width: 70%;
    font-size: larger;
    margin-left: 40px;
}

.item-checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

.item-checkbox .market {
    margin-left: 40px;
    width: 60%;
}

.item-checkbox .menge {
    float: right;
    width: 20%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 5px;
}

.item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 25%;
    left: 50px;
    height: 50%;
}
.item-avatar-squad {
    border-radius: 0%;
}

.settings {
    background: url('../img/Food-fruits-and-vegetables_1440x900.jpg') no-repeat;
    background-position: 10% 50%;
}