/* Empty. Add your own CSS if you like */
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    display: block;

    background-color:white;
}

input[type=checkbox]:checked + label {
    display: block;
    
    background-color:gray;
}